DATABASE_URL=postgresql+psycopg://postgres:siddu@localhost:5432/service_booking
SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
UPLOAD_DIR=app/uploads

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=siddarthhay@gmail.com
SMTP_PASSWORD=afhcwkprzlygnqlw
SMTP_USE_TLS=true
SMTP_FROM_EMAIL=siddarthhay@gmail.com
SMTP_FROM_NAME="Service Booking"